<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="large" color="teal" type="ball-clip-rotate"></ngx-spinner>
<div class="row">
  <div class="container">
    <div class="card col s12" style="padding: 0">
      <div class="col s12 teal darken-2" id="imagem-titulo"></div>
      <div class="col s12">
        <span class="card-title teal-text">Clientes
          <button mz-button [float]="true" class="right" (click)="addCustomerModal.open()">
            <i mz-icon [icon]="'add'" [size]="'tiny'" [align]="'center'"></i>
          </button>
        </span>
        <p>Cadastre clientes para vinculá-los aos seus projetos.
        <br>Caso queira visualizar ou editar, basta clicar em cima do nome do cliente ou no ícone do lápis.
        <br>Clique no botão "+" para adicionar um novo cliente.
        <br>Clique no icone da lixeira para deletar o cliente.</p>
      </div>
    </div>
    <div class="card col s12" style="padding: 0">
      <table class="striped">
        <thead>
          <tr>
            <th class="espaco-esquerdo teal-text">Nome</th>
            <th class="espaco-direito teal-text right">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of customers">
            <td class="espaco-esquerdo editar">
              <span (click)="editCustomer(c.Id); editCustomerModal.open();">{{ c.Name }}</span>
            </td>
            <td class="options-buttons right">
              <a mz-button mz-tooltip [tooltip]="'Editar Cliente'" [position]="'top'" [delay]="500" [html]="true" [flat]="true" [float]="true"
                (click)="editCustomer(c.Id); editCustomerModal.open();">
                <i mz-icon-mdi [icon]="'pencil'" [size]="'24px'"></i>
              </a>
              <a mz-button mz-tooltip [tooltip]="'Excluir Cliente'" [position]="'top'" [delay]="500" [html]="true" [flat]="true" [float]="true"
                (click)="deleteCustomer(c.Id); deleteCustomerModal.open()">
                <i mz-icon-mdi [icon]="'delete'" [size]="'24px'"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="espaco-esquerdo" *ngIf="customers.length == 0">
        <b>Nenhum cliente foi encontrado ou cadastrado.</b>
      </p>
    </div>
  </div>
</div>

<!-- Novo Cliente -->
<form #addCustomerForm="ngForm" (ngSubmit)="onSubmitAddForm(); addCustomerForm.reset();">
  <mz-modal #addCustomerModal [fixedFooter]='true' [bottomSheet]='false' [fullscreen]='true'>
    <mz-modal-header>
      <h4 class="teal-text">Novo Cliente</h4>
      <p>Preencha todos os campos para poder cadastrar um novo cliente.</p>
    </mz-modal-header>
    <mz-modal-content>
      <div class="row">
        <div class="col s12 m12 l12">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'clipboard-account'" [size]="'24px'"></i>
            <input mz-input [label]="'Nome Completo'" id="addName" name="addName" type="text" required [(ngModel)]="customer.Name">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l2">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'account-card-details'" [size]="'24px'"></i>
            <input mz-input [label]="'RG'" id="addRG" name="addRG" type="text" required [(ngModel)]="customer.RG">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l2">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'account-card-details'" [size]="'24px'"></i>
            <input mz-input [label]="'CPF'" id="addCPF" name="addCPF" type="text" required [(ngModel)]="customer.CPF">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l2">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'account-card-details'" [size]="'24px'"></i>
            <input mz-input [label]="'CNPJ'" id="addCNPJ" name="addCNPJ" type="text" required [(ngModel)]="customer.CNPJ">
          </mz-input-container>
        </div>
        <div class="col s12 m12 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'email'" [size]="'24px'"></i>
            <input mz-input [label]="'Email'" id="addEmail" name="addEmail" type="text" required [(ngModel)]="customer.Email">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'phone'" [size]="'24px'"></i>
            <input mz-input [label]="'Tel. Comercial'" id="addCommercialPhone" name="addCommercialPhone" type="text" required [(ngModel)]="customer.CommercialPhone">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'phone'" [size]="'24px'"></i>
            <input mz-input [label]="'Tel. Celular'" id="addCellPhone" name="addCellPhone" type="text" required [(ngModel)]="customer.CellPhone">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'phone'" [size]="'24px'"></i>
            <input mz-input [label]="'Tel. Residencial'" id="addHomePhone" name="addHomePhone" type="text" required [(ngModel)]="customer.HomePhone">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input (change)="getCep()" [label]="'CEP'" id="addCEP" name="addCEP" type="text" required [(ngModel)]="customer.CEP">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Endereço'" id="addStreetAddress" name="addStreetAddress" type="text" required [(ngModel)]="customer.StreetAddress">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Complemento'" id="addComplement" name="addComplement" type="text" required [(ngModel)]="customer.Complement">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Bairro'" id="addDistrict" name="addDistrict" type="text" required [(ngModel)]="customer.District">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Cidade'" id="addCity" name="addCity" type="text" required [(ngModel)]="customer.City">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-select-container>
            <select mz-select [label]="'Estado'" [placeholder]="'Selecione o Estado'" id="addState" name="addState" required
              [(ngModel)]="customer.State">
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
          </mz-select-container>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn teal white-text waves-effect waves-light" type="submit" name="action" mz-modal-close>Salvar
        <i class="material-icons right">done</i>
      </button>
      <button class="btn red white-text waves-effect waves-light" type="button" mz-modal-close>Cancelar
        <i class="material-icons right">cancel</i>
      </button>
    </mz-modal-footer>
  </mz-modal>
</form>

<!-- Deletar Cliente -->
<mz-modal #deleteCustomerModal [fixedFooter]='false' [bottomSheet]='false' [fullscreen]='false'>
  <mz-modal-header>
    <h4 class="teal-text">Deletar Cliente</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>Os clientes deletados não poderão ser recuperados. Você realmente deseja deletar esse cliente?</p>
  </mz-modal-content>
  <mz-modal-footer>
    <button class="btn teal white-text waves-effect waves-light" type="button" (click)="delete()" mz-modal-close>Deletar
      <i class="material-icons right">done</i>
    </button>
    <button class="btn red white-text waves-effect waves-light" type="button" mz-modal-close>Cancelar
      <i class="material-icons right">cancel</i>
    </button>
  </mz-modal-footer>
</mz-modal>

<!-- Editar Cliente -->
<form #editCustomerForm="ngForm" (ngSubmit)="onSubmitEditForm(); editCustomerForm.reset();">
  <mz-modal #editCustomerModal [fixedFooter]='true' [bottomSheet]='false' [fullscreen]='true'>
    <mz-modal-header>
      <h4 class="teal-text">Editar Cliente</h4>
      <p>Faça as alterações necessárias e clique em salvar.</p>
    </mz-modal-header>
    <mz-modal-content>
      <div class="row">
        <div class="col s12 m12 l12">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'clipboard-account'" [size]="'24px'"></i>
            <input mz-input [label]="'Nome Completo'" id="editName" name="editName" type="text" required [(ngModel)]="customer.Name">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l2">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'account-card-details'" [size]="'24px'"></i>
            <input mz-input [label]="'RG'" id="editRG" name="editRG" type="text" required [(ngModel)]="customer.RG">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l2">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'account-card-details'" [size]="'24px'"></i>
            <input mz-input [label]="'CPF'" id="editCPF" name="editCPF" type="text" required [(ngModel)]="customer.CPF">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l2">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'account-card-details'" [size]="'24px'"></i>
            <input mz-input [label]="'CNPJ'" id="editCNPJ" name="editCNPJ" type="text" required [(ngModel)]="customer.CNPJ">
          </mz-input-container>
        </div>
        <div class="col s12 m12 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'email'" [size]="'24px'"></i>
            <input mz-input [label]="'Email'" id="editEmail" name="editEmail" type="text" required [(ngModel)]="customer.Email">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'phone'" [size]="'24px'"></i>
            <input mz-input [label]="'Tel. Comercial'" id="editCommercialPhone" name="editCommercialPhone" type="text" required [(ngModel)]="customer.CommercialPhone">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'phone'" [size]="'24px'"></i>
            <input mz-input [label]="'Tel. Celular'" id="editCellPhone" name="editCellPhone" type="text" required [(ngModel)]="customer.CellPhone">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'phone'" [size]="'24px'"></i>
            <input mz-input [label]="'Tel. Residencial'" id="editHomePhone" name="editHomePhone" type="text" required [(ngModel)]="customer.HomePhone">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input (change)="getCep()" [label]="'CEP'" id="editCEP" name="editCEP" type="text" required [(ngModel)]="customer.CEP">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Endereço'" id="editStreeteditress" name="editStreetAddress" type="text" required [(ngModel)]="customer.StreetAddress">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Complemento'" id="editComplement" name="editComplement" type="text" required [(ngModel)]="customer.Complement">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Bairro'" id="editDistrict" name="editDistrict" type="text" required [(ngModel)]="customer.District">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Cidade'" id="editCity" name="editCity" type="text" required [(ngModel)]="customer.City">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-select-container>
            <select mz-select [label]="'Estado'" [placeholder]="'Selecione o Estado'" id="editState" name="editState" required
              [(ngModel)]="customer.State">
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
          </mz-select-container>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn teal white-text waves-effect waves-light" type="submit" name="action" mz-modal-close>Alterar
        <i class="material-icons right">done</i>
      </button>
      <button class="btn red white-text waves-effect waves-light" type="button" mz-modal-close>Cancelar
        <i class="material-icons right">cancel</i>
      </button>
    </mz-modal-footer>
  </mz-modal>
</form>
