.espaco-esquerdo{
  padding-left: 1rem;
}

.espaco-direito{
  padding-right: 15px;
  float: right;
}

a{
  color: grey;
}

#imagem-titulo{
  background-image: url("../images/projetos.jpg");
  height: 10rem;
  width: 100%;
}

.editar {
  cursor:pointer;
}
