<div class="row">
  <div class="container">
    <div class="card col s12" style="padding: 0">
      <div class="col s12 teal darken-2" id="imagem-titulo"></div>
      <div class="col s12">
        <span class="card-title teal-text">Projetos
          <button mz-button [float]="true" class="right" (click)="addProjectModal.open()">
            <i mz-icon [icon]="'add'" [size]="'tiny'" [align]="'center'"></i>
          </button>
        </span>
        <p>Cadastre seus projetos.
          <br>Caso queira visualizar ou editar, basta clicar em cima do nome do projeto ou no ícone do lapis.
          <br>Clique no botão "+" para adicionar um novo projeto
          <br>Clique no icone da lixeira para deletar o projeto</p>
      </div>
    </div>
    <div class="card col s12" style="padding: 0">
      <table class="striped">
        <thead>
          <tr>
            <th class="espaco-esquerdo teal-text">Nome</th>
            <th class="espaco-esquerdo teal-text">Cliente</th>
            <th class="espaco-esquerdo teal-text">Categoria</th>
            <th class="espaco-esquerdo teal-text">Início</th>
            <th class="espaco-esquerdo teal-text">Conclusão</th>
            <th class="espaco-direito teal-text right">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of projects">
            <td (click)="detailProject(p.Id);" mz-tooltip [tooltip]="'Clique na linha para exibir os detalhes do projeto (Receitas/Despesas)'" [position]="'top'" [delay]="500" [html]="true" class="espaco-esquerdo editar">
              <span>{{ p.Name }}</span>
            </td>
            <td (click)="detailProject(p.Id);" mz-tooltip [tooltip]="'Clique na linha para exibir os detalhes do projeto (Receitas/Despesas)'" [position]="'top'" [delay]="500" [html]="true" class="espaco-esquerdo editar">
              <span>{{ p.Customer?.Name }}</span>
            </td>
            <td (click)="detailProject(p.Id);" mz-tooltip [tooltip]="'Clique na linha para exibir os detalhes do projeto (Receitas/Despesas)'" [position]="'top'" [delay]="500" [html]="true" class="espaco-esquerdo editar">
              <span>{{ p.Category?.Name }}</span>
            </td>
            <td (click)="detailProject(p.Id);" mz-tooltip [tooltip]="'Clique na linha para exibir os detalhes do projeto (Receitas/Despesas)'" [position]="'top'" [delay]="500" [html]="true" class="espaco-esquerdo editar">
              <span>{{ p.StartDate | date: 'dd/MM/yyyy'}}</span>
            </td>
            <td (click)="detailProject(p.Id);" mz-tooltip [tooltip]="'Clique na linha para exibir os detalhes do projeto (Receitas/Despesas)'" [position]="'top'" [delay]="500" [html]="true" class="espaco-esquerdo editar">
              <span>{{ p.ConclusionDate | date: 'dd/MM/yyyy'}}</span>
            </td>
            <td class="options-buttons right">
              <a mz-button mz-tooltip [tooltip]="'Detalhe do Projeto (Receitas/Despesas)'" [position]="'top'" [delay]="500" [html]="true" [flat]="true" [float]="true" (click)="detailProject(p.Id);">
                <i mz-icon-mdi [icon]="'swap-vertical'" [size]="'24px'"></i>
              </a>
              <a mz-button mz-tooltip [tooltip]="'Editar Projeto'" [position]="'top'" [delay]="500" [html]="true" [flat]="true" [float]="true"  (click)="editProject(p.Id); editProjectModal.open();">
                <i mz-icon-mdi [icon]="'pencil'" [size]="'24px'"></i>
              </a>
              <a mz-button mz-tooltip [tooltip]="'Excluir Projeto'" [position]="'top'" [delay]="500" [html]="true" [flat]="true" [float]="true" (click)="deleteProject(p.Id); deleteProjectModal.open()">
                <i mz-icon-mdi [icon]="'delete'" [size]="'24px'"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="espaco-esquerdo" *ngIf="projects.length == 0">
        <b>Nenhum projeto foi encontrado ou cadastrado.</b>
      </p>
    </div>
    <div class="col s12">
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red right" (click)="addProjectModal.open()">
          <i class="material-icons tooltipped" data-position="top" data-tooltip="Novo Projeto">add</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Novo Projeto -->
<form #addProjectForm="ngForm" (ngSubmit)="onSubmitAddForm(); addProjectForm.reset();">
  <mz-modal #addProjectModal [fixedFooter]='true' [bottomSheet]='false' [fullscreen]='true'>
    <mz-modal-header>
      <h4 class="teal-text">Novo Projeto</h4>
      <p>Preencha todos os campos para cadastrar um novo projeto.</p>
    </mz-modal-header>
    <mz-modal-content>
      <div class="row">
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'clipboard-text'" [size]="'24px'"></i>
            <input mz-input [label]="'Nome'" id="addName" name="addName" type="text" required [(ngModel)]="project.Name">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="addCustomerId" name="addCustomerId" [label]="'Cliente'" [placeholder]="'Selecione o Cliente'" required
             [(ngModel)]="project.CustomerId">
              <option *ngFor="let customer of customers" value="{{ customer.Id }}">{{ customer.Name }}</option>
              <option *ngIf="customers.length == 0" disabled>Nenhum cliente foi cadastrado.</option>
            </select>
          </mz-select-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="addCategoryId" name="addCategoryId" [label]="'Categoria'" [placeholder]="'Selecione a Categoria'" required
               [(ngModel)]="project.CategoryId">
              <option *ngFor="let category of categories" value="{{ category.Id }}">{{ category.Name }}</option>
              <option *ngIf="categories.length == 0" disabled>Nenhuma categoria de projeto foi cadastrada.</option>
            </select>
          </mz-select-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-datepicker-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'calendar'" [size]="'24px'"></i>
            <input mz-datepicker [options]="DatePickerTraducaoBr" [label]="'Data de Início'" id="addStartDate" name="addStartDate" type="date"
              required  [(ngModel)]="project.StartDate">
          </mz-datepicker-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-datepicker-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'calendar'" [size]="'24px'"></i>
            <input mz-datepicker [options]="DatePickerTraducaoBr" [label]="'Data de Conclusão'" id="addConclusionDate" name="addConclusionDate"
              type="date" required  [(ngModel)]="project.ConclusionDate">
          </mz-datepicker-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="addStatus" name="addStatus" [label]="'Status'" [placeholder]="'Selecione o Status'" required
              [(ngModel)]="project.Status">
              <option *ngFor="let s of status" value="{{ s.Id }}">{{ s.Description }}</option>
            </select>
          </mz-select-container>
        </div>
        <div class="col s12 m12 l12">
          <mz-textarea-container>
            <i mz-icon-mdi mz-textarea-prefix [icon]="'comment-text'" [size]="'24px'"></i>
            <textarea mz-textarea [label]="'Descrição'" [placeholder]="'Descreva o seu projeto aqui.'" length="100" maxlength="100" id="addDescription"
              name="addDescription" required [(ngModel)]="project.Description"></textarea>
          </mz-textarea-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input (change)="getCep()" data-mask="00/00/0000" [label]="'CEP'" id="addCEP" name="addCEP" type="text" required [(ngModel)]="project.CEP">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Endereço'" id="addStreetAddress" name="addStreetAddress" type="text" required
              [(ngModel)]="project.StreetAddress">
          </mz-input-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Complemento'" id="addComplement" name="addComplement" type="text" required [(ngModel)]="project.Complement">
          </mz-input-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Bairro'" id="addDistrict" name="addDistrict" type="text" required [(ngModel)]="project.District">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Cidade'" id="addCity" name="addCity" type="text" required [(ngModel)]="project.City">
          </mz-input-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-select-container>
            <select mz-select [label]="'Estado'" [placeholder]="'Selecione o Estado'" id="addState" name="addState" required
              [(ngModel)]="project.State">
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
          </mz-select-container>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn teal white-text waves-effect waves-light" type="submit" name="action" mz-modal-close>Salvar
        <i class="material-icons right">done</i>
      </button>
      <button class="btn red white-text waves-effect waves-light" type="button" mz-modal-close>Fechar
        <i class="material-icons right">cancel</i>
      </button>
    </mz-modal-footer>
  </mz-modal>
</form>

<!-- Deletar Projeto -->
<mz-modal #deleteProjectModal [fixedFooter]='false' [bottomSheet]='false' [fullscreen]='false'>
  <mz-modal-header>
    <h4 class="teal-text">Deletar Projeto</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>Os projetos deletados não poderão ser recuperados. Você realmente deseja deletar esse projeto?</p>
  </mz-modal-content>
  <mz-modal-footer>
    <button class="btn teal white-text waves-effect waves-light" type="button" (click)="delete()" mz-modal-close>Deletar
      <i class="material-icons right">done</i>
    </button>
    <button class="btn red white-text waves-effect waves-light" type="button" (click)="addProjectForm.reset();" mz-modal-close>Fechar
      <i class="material-icons right">cancel</i>
    </button>
  </mz-modal-footer>
</mz-modal>

<!-- Editar Projeto -->
<form #editProjectForm="ngForm" (ngSubmit)="onSubmitEditForm(); editProjectForm.reset();">
  <mz-modal #editProjectModal [fixedFooter]='true' [bottomSheet]='false' [fullscreen]='true'>
    <mz-modal-header>
      <h4 class="teal-text">Editar Projeto</h4>
      <p>Faça as alterações necessárias e clique em salvar.</p>
    </mz-modal-header>
    <mz-modal-content>
      <div class="row">
        <input type="hidden" id="editId" name="editId"  [(ngModel)]="project.Id">
        <div class="col s12 m4 l4">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'clipboard-text'" [size]="'24px'"></i>
            <input mz-input [label]="'Nome'" id="editName" name="editName" type="text" required [(ngModel)]="project.Name">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="editCustomerId" name="editCustomerId" [label]="'Cliente'" [placeholder]="'Selecione o Cliente'" required
              [(ngModel)]="project.CustomerId">
              <option *ngFor="let customer of customers" value="{{ customer.Id }}">{{ customer.Name }}</option>
              <option *ngIf="customers.length == 0" disabled>Nenhum cliente foi cadastrado.</option>
            </select>
          </mz-select-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="editCategoryId" name="editCategoryId" [label]="'Categoria'" [placeholder]="'Selecione a Categoria'"
              required [(ngModel)]="project.CategoryId">
              <option *ngFor="let category of categories" value="{{ category.Id }}">{{ category.Name }}</option>
              <option *ngIf="categories.length == 0" disabled>Nenhuma categoria de projeto foi cadastrada.</option>
            </select>
          </mz-select-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-datepicker-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'calendar'" [size]="'24px'"></i>
            <input mz-datepicker [label]="'Data de Início'" [options]="DatePickerTraducaoBr" id="editStartDate" name="editStartDate"
              type="date" required [(ngModel)]="project.StartDate">
          </mz-datepicker-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-datepicker-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'calendar'" [size]="'24px'"></i>
            <input mz-datepicker [label]="'Data de Conclusão'" [options]="DatePickerTraducaoBr" id="editConclusionDate" name="editConclusionDate"
              type="date" required [(ngModel)]="project.ConclusionDate">
          </mz-datepicker-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="editStatus" name="editStatus" [label]="'Status'" [placeholder]="'Selecione o Status'" required
              [(ngModel)]="project.Status">
              <option *ngFor="let s of status" value="{{ s.Id }}">{{ s.Description }}</option>
            </select>
          </mz-select-container>
        </div>
        <div class="col s12 m12 l12">
          <mz-textarea-container>
            <i mz-icon-mdi mz-textarea-prefix [icon]="'comment-text'" [size]="'24px'"></i>
            <textarea mz-textarea [label]="'Descrição'" [placeholder]="'Descreva o seu projeto aqui.'" length="100" maxlength="100" id="editDescription"
              name="editDescription" required  [(ngModel)]="project.Description"></textarea>
          </mz-textarea-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input (change)="getCep()" [label]="'CEP'" id="editCEP" name="editCEP" type="text" required  [(ngModel)]="project.CEP">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Endereço'" id="editStreetAddress" name="editStreetAddress" type="text" required
              [(ngModel)]="project.StreetAddress">
          </mz-input-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Complemento'" id="editComplement" name="editComplement" type="text" required  [(ngModel)]="project.Complement">
          </mz-input-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Bairro'" id="editDistrict" name="editDistrict" type="text" required  [(ngModel)]="project.District">
          </mz-input-container>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'" [size]="'24px'"></i>
            <input mz-input [label]="'Cidade'" id="editCity" name="editCity" type="text" required  [(ngModel)]="project.City">
          </mz-input-container>
        </div>
        <div class="col s12 m3 l3">
          <mz-select-container>
            <select mz-select [label]="'Estado'" [placeholder]="'Selecione o Estado'" id="editState" name="editState" required
              [(ngModel)]="project.State">
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
          </mz-select-container>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn teal white-text waves-effect waves-light" type="submit" name="action" mz-modal-close>Alterar
        <i class="material-icons right">done</i>
      </button>
      <button #add class="btn red white-text waves-effect waves-light" type="button" (click)="editProjectForm.reset();" mz-modal-close>Fechar
        <i class="material-icons right">cancel</i>
      </button>
    </mz-modal-footer>
  </mz-modal>
</form>
