<div class="row center" style="margin-top: 5%; font-size: 18px;" *ngIf="this.projectDetail?.Id === 0 || this.projectDetail?.Id === undefined || this.projectDetail?.Id === null">
  <p>O projeto que você tentou acessar não existe ou é inválido.</p>
  <p>
    <button mz-button (click)="this.router.navigate(['/projects']);">RETORNAR PARA PROJETOS</button>
  </p>
</div>

<div class="row container" *ngIf="this.projectDetail?.Id > 0">
  <div class="col s12">
    <mz-card>
      <mz-card-title class="teal-text">
        Detalhe do Projeto
      </mz-card-title>
      <mz-card-content>
        <div class="row" style="margin-bottom: -15px;">
          <div class="col s12 m4 l4">
            <b class="teal-text">Nome</b>
            <p>{{ this.projectDetail?.Name }}</p>
          </div>
          <div class="col s12 m4 l4">
            <b class="teal-text">Cliente</b>
            <p>{{ this.projectDetail?.Customer?.Name }}</p>
          </div>
          <div class="col s12 m4 l4">
            <b class="teal-text">Categoria</b>
            <p>{{ this.projectDetail?.Category?.Name }}</p>
          </div>
          <div class="col s12" style="margin-top: 5px;">
            <b class="teal-text">Descrição</b>
            <p>{{ this.projectDetail?.Description }}</p>
          </div>
        </div>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="col s12">
    <mz-card>
      <mz-card-title class="teal-text">
        Período de Trabalho
      </mz-card-title>
      <mz-card-content>
        <div class="row" style="margin-bottom: -15px;">
          <div class="col s12 m6 l6">
            <mz-select-container>
              <select mz-select id="monthWork" [label]="'Mês'" [placeholder]="'Selecione o mês de trabalho:'" [(ngModel)]="this.monthWork">
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
              </select>
            </mz-select-container>
          </div>
          <div class="col s12 s6 m6">
            <mz-select-container>
              <select mz-select id="yearWork" [label]="'Ano'" [placeholder]="'Selecione o ano de trabalho:'" [(ngModel)]="this.yearWork"
                (change)="this.createYearSelect()">
                <option *ngFor="let year of yearsOfWork" value="{{ year }}">{{ year }}</option>
              </select>
            </mz-select-container>
          </div>
        </div>
      </mz-card-content>
    </mz-card>
  </div>

  <div class="col s12">
    <app-expenses [projectId]="this.projectId" [monthWork]="this.monthWork" [yearWork]="this.yearWork"></app-expenses>
  </div>
  <div class="col s12">
    <app-revenues [projectId]="this.projectId" [monthWork]="this.monthWork" [yearWork]="this.yearWork"></app-revenues>
  </div>
</div>
