<div class="row center" style="margin-top: 5%; font-size: 18px;" *ngIf="this.projectDetail?.Id === 0 || this.projectDetail?.Id === undefined || this.projectDetail?.Id === null">
  <p>O projeto que você tentou acessar não existe ou é inválido.</p>
  <p><button mz-button (click)="this.router.navigate(['/projects']);">RETORNAR PARA PROJETOS</button></p>
</div>

<div class="row" *ngIf="this.projectDetail?.Id > 0">
  <div class="col s12">
    <mz-card>
      <mz-card-title class="teal-text">
        Detalhe do Projeto
      </mz-card-title>
      <mz-card-content>
        <div class="row" style="margin-bottom: -15px;">
          <div class="col s12"><b>Descrição:</b> {{ this.projectDetail?.Description }}</div>
          <div class="col s12 m12 l4"><b>Nome:</b> {{ this.projectDetail?.Name }}</div>
          <div class="col s12 m6 l4"><b>Cliente:</b> {{ this.projectDetail?.Customer?.Name }}</div>
          <div class="col s12 m6 l4"><b>Categoria:</b> {{ this.projectDetail?.Category?.Name }}</div>
          <div class="col s12 m6 l4"><b>Data de Início:</b> {{ this.projectDetail?.StartDate | date: 'dd/MM/yyyy' }}</div>
          <div class="col s12 m6 l4"><b>Data de Conclusão:</b> {{ this.projectDetail?.ConclusionDate | date: 'dd/MM/yyyy' }}</div>
          <div class="col s12 m6 l4"><b>CEP:</b> {{ this.projectDetail?.CEP }}</div>
          <div class="col s12 m6 l8"><b>Endereço:</b> {{ this.projectDetail?.StreetAddress }}</div>
          <div class="col s12 m6 l4"><b>Complemento:</b> {{ this.projectDetail?.Complement }}</div>
          <div class="col s12 m6 l4"><b>Bairro:</b> {{ this.projectDetail?.District }}</div>
          <div class="col s12 m6 l4"><b>Cidade:</b> {{ this.projectDetail?.City }}</div>
          <div class="col s12 m6 l4"><b>Estado:</b> {{ this.projectDetail?.State }}</div>
        </div>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="col s12">
    <mz-card>
      <mz-card-title class="teal-text">
        Período de Trabalho
      </mz-card-title>
      <mz-card-content>
        <div class="row" style="margin-bottom: -15px;">
          <div class="col s12 m6 l6">
            <mz-select-container>
              <select mz-select id="monthWork" [label]="'Mês'" [placeholder]="'Selecione o mês de trabalho:'" [(ngModel)]="this.monthWork">
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
              </select>
            </mz-select-container>
          </div>
          <div class="col s12 m6 l6">
            <mz-select-container>
              <select mz-select id="yearWork" [label]="'Ano'" [placeholder]="'Selecione o ano de trabalho:'" [(ngModel)]="this.yearWork"
                (change)="this.createYearSelect()">
                <option *ngFor="let year of yearsOfWork" value="{{ year }}">{{ year }}</option>
              </select>
            </mz-select-container>
          </div>
        </div>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="col s12 m12 l6">
    <app-expenses [projectId]="this.projectId" [monthWork]="this.monthWork" [yearWork]="this.yearWork"></app-expenses>
  </div>
  <div class="col s12 m12 l6">
    <app-revenues [projectId]="this.projectId" [monthWork]="this.monthWork" [yearWork]="this.yearWork"></app-revenues>
  </div>
</div>
