<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="large" color="teal" type="ball-clip-rotate"></ngx-spinner>
<div class="row">
  <div class="container">
    <div class="card col s12" style="padding: 0">
      <div class="col s12 teal darken-2" id="imagem-titulo"></div>
      <div class="col s12">
        <span class="card-title teal-text">Categorias
          <button mz-button [float]="true" class="right" (click)="addCategoryModal.open()">
            <i mz-icon [icon]="'add'" [size]="'tiny'" [align]="'center'"></i>
          </button>
        </span>
        <p>Crie categorias para serem usadas em projetos futuros, ex: Compra, Venda, Negociação..
        <br>Caso queira visualizar, basta clicar em cima do nome do categoria.
        <br>Clique no botão "+" para adicionar uma nova categoria.
        <br>Clique no icone da lixeira para deletar a categoria.</p>
      </div>
    </div>
    <div class="card col s12" style="padding: 0">
      <table class="striped">
        <thead>
          <tr>
            <th class="espaco-esquerdo teal-text">Nome</th>
            <th class="espaco-esquerdo teal-text">Tipo</th>
            <th class="espaco-direito teal-text right">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of categories">
            <td class="espaco-esquerdo editar">
              <span (click)="editCategory(c.Id); editCategoryModal.open();">{{ c.Name }}</span>
            </td>
            <td class="espaco-esquerdo editar">
              <span (click)="editCategory(c.Id); editCategoryModal.open();">{{ getTypeDescription(c.Type) }}</span>
            </td>
            <td class="options-buttons right">
              <a mz-button mz-tooltip [tooltip]="'Editar Categoria'" [position]="'top'" [delay]="500" [html]="true" [flat]="true" [float]="true"
                (click)="editCategory(c.Id); editCategoryModal.open();">
                <i mz-icon-mdi [icon]="'pencil'" [size]="'24px'"></i>
              </a>
              <a mz-button mz-tooltip [tooltip]="'Excluir Categoria'" [position]="'top'" [delay]="500" [html]="true" [flat]="true" [float]="true"
                (click)="deleteCategory(c.Id); deleteCategoryModal.open()">
                <i mz-icon-mdi [icon]="'delete'" [size]="'24px'"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="espaco-esquerdo" *ngIf="categories.length == 0">
        <b>Nenhuma categoria foi encontrada ou cadastrada.</b>
      </p>
    </div>
  </div>
</div>

<!-- Nova Categoria -->
<form #addCategoryForm="ngForm" (ngSubmit)="onSubmitAddForm();" >
  <mz-modal #addCategoryModal [fixedFooter]='true' [bottomSheet]='false' [fullscreen]='false'>
    <mz-modal-header>
      <h4 class="teal-text">Nova Categoria</h4>
      <p>Preencha todos os campos para cadastrar uma nova categoria.</p>
    </mz-modal-header>
    <mz-modal-content>
      <div class="row">
        <div class="col s12 m8 l8">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'clipboard-text'" size="'24px'"></i>
            <input mz-input [label]="'Categoria'" id="addName" name="addName" type="text" required [(ngModel)]="category.Name">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="addType" name="addType" [label]="'Tipo de Categoria'" [placeholder]="'Selecione o Tipo'" required [(ngModel)]="category.Type">
              <option *ngFor="let type of types" value="{{ type.Id }}">{{ type.Description }}</option>
            </select>
          </mz-select-container>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn teal white-text waves-effect waves-light" type="submit" name="action" mz-modal-close>Salvar
        <i class="material-icons right">done</i>
      </button>
      <button class="btn red white-text waves-effect waves-light" type="button" (click)="limpaTela();" mz-modal-close>Cancelar
        <i class="material-icons right">cancel</i>
      </button>
    </mz-modal-footer>
  </mz-modal>
</form>

<!-- Deletar Categoria -->
<mz-modal #deleteCategoryModal [fixedFooter]='false' [bottomSheet]='false' [fullscreen]='false'>
  <mz-modal-header>
    <h4 class="teal-text">Deletar Categoria</h4>
  </mz-modal-header>
  <mz-modal-content>
    <p>As categorias deletadas não poderão ser recuperadas. Você realmente deseja deletar esta categoria?</p>
  </mz-modal-content>
  <mz-modal-footer>
    <button class="btn teal white-text waves-effect waves-light" type="button" (click)="delete()" mz-modal-close>Deletar
      <i class="material-icons right">done</i>
    </button>
    <button class="btn red white-text waves-effect waves-light" type="button" mz-modal-close>Cancelar
      <i class="material-icons right">cancel</i>
    </button>
  </mz-modal-footer>
</mz-modal>

<!-- Editar Categoria -->
<form #editCategoryForm="ngForm" (ngSubmit)="onSubmitEditForm();">
  <mz-modal #editCategoryModal [fixedFooter]='true' [bottomSheet]='false' [fullscreen]='false'>
    <mz-modal-header>
      <h4 class="teal-text">Editar Categoria</h4>
      <p>Preencha os campos que você deseja alterar e clique em salvar.</p>
    </mz-modal-header>
    <mz-modal-content>
      <div class="row">
        <input type="hidden" name="editId" [(ngModel)]="this.category.Id">
        <div class="col s12 m8 l8">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'clipboard-text'" size="'24px'"></i>
            <input mz-input [label]="'Categoria'" id="editName" name="editName" type="text" required [(ngModel)]="category.Name">
          </mz-input-container>
        </div>
        <div class="col s12 m4 l4">
          <mz-select-container>
            <select mz-select id="editType" name="editType" [label]="'Tipo de Categoria'" [placeholder]="'Selecione o Tipo'" required [(ngModel)]="category.Type">
              <option *ngFor="let type of types" value="{{ type.Id }}">{{ type.Description }}</option>
            </select>
          </mz-select-container>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn teal white-text waves-effect waves-light" type="submit" name="action" mz-modal-close>Salvar
        <i class="material-icons right">done</i>
      </button>
      <button class="btn red white-text waves-effect waves-light" type="button" mz-modal-close (click)="limpaTela();">Cancelar
        <i class="material-icons right">cancel</i>
      </button>
    </mz-modal-footer>
  </mz-modal>
</form>
