<div class="row">
  <form #signupForm="ngForm" class="col s12 white" (ngSubmit)="onSubmit(Name.value, Email.value, Password.value, ConfirmPassword.value)" >
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="nomeCompleto" type="text" class="validate" required #Name ngModel>
        <label for="nomeCompleto">Nome Completo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mail_outline</i>
        <input id="email" type="text" class="validate" required #Email ngModel>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="senha" type="password" class="validate" required #Password ngModel>
        <label for="senha">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="confirmarSenha" type="password" class="validate" required #ConfirmPassword ngModel>
        <label for="confirmarSenha">Confirmar Senha</label>
        <button [disabled]="!signupForm.valid" class="right btn waves-effect waves-light" type="submit" name="action">Cadastrar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

