<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="large" color="teal" type="ball-clip-rotate"></ngx-spinner>
<div class="row">
  <form #signupForm="ngForm" class="col s12 white" (ngSubmit)="onSubmit(SignUpName.value, SignUpEmail.value, SignUpPassword.value, SignUpConfirmPassword.value)" >
    <div class="row">
      <div class="input-field col s12">
        <i mz-icon-mdi [icon]="'clipboard-account'" [size]="'24px'" class="prefix"></i>
        <input id="signUpNomeCompleto" type="text" name="signUpNomeCompleto" class="validate" [value]="formName" required #SignUpName ngModel>
        <label for="signUpNomeCompleto">Nome Completo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i mz-icon-mdi [icon]="'email'" [size]="'24px'" class="prefix"></i>
        <input id="signUpEmail" type="text" name="signUpEmail" class="validate" [value]="formEmail" required #SignUpEmail ngModel>
        <label for="signUpEmail">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i mz-icon-mdi [icon]="'lock'" [size]="'24px'" class="prefix"></i>
        <input id="signUpSenha" type="password" name="signUpSenha" class="validate" [value]="formPassword" required #SignUpPassword ngModel>
        <label for="signUpSenha">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i mz-icon-mdi [icon]="'lock'" [size]="'24px'" class="prefix"></i>
        <input id="signUpConfirmarSenha" type="password" name="signUpConfirmarSenha" class="validate" [value]="formPasswordConfirm" required #SignUpConfirmPassword ngModel>
        <label for="signUpCconfirmarSenha">Confirmar Senha</label>
        <button [disabled]="!signupForm.valid" class="right btn waves-effect waves-light" type="submit" name="action">Cadastrar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
