<div class="row">
  <form class="col s12 white">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="nomeCompleto" type="text" class="validate">
        <label for="nomeCompleto">Nome Completo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mail_outline</i>
        <input id="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="senha" type="text" class="validate">
        <label for="senha">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="confirmarSenha" type="text" class="validate">
        <label for="confirmarSenha">Confirmar Senha</label>
        <button class="right btn waves-effect waves-light" type="submit" name="action">Cadastrar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

