.perfil-menu {
  height: 25.5%;
  background-image: url("../images/perfil.png")
}

.conteudo{
  position: relative;
  top: 1rem;
  right: 10%;
}

.nome-perfil{
  font-style: bold;
}

#logo {
  max-height: 50px !important;
  padding: 1% !important;
}

.brand-logo {
  padding: 1% !important;
}

.row {
  margin: 0 !important;
}
