<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="large" color="teal" type="ball-clip-rotate"></ngx-spinner>
<div class="navbar-fixed" *ngIf="mostrarMenu">
  <nav class="teal">
    <div class="nav-wrapper container">
      <ul class="left">
        <li>
          <a class="white-text" (click)="menu.open();">
            <i class="material-icons left white-text">menu</i>Menu</a>
        </li>
      </ul>
      <a class="brand-logo center valign-wrapper">
        <img src="../../assets/logo-branco.png" id="logo">
      </a>
      <ul class="right">
        <li>
          <a class="nome-perfil" (click)="editProfile(); editProfileModal.open();">
            {{ userProfileName }}
          </a>
        </li>
        <li>
          <a routerLink="" class="white-text" (click)="logout()">
            <i class="material-icons">exit_to_app</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<mz-modal #menu [fixedFooter]="false" [fullscreen]="true" [bottomSheet]="true">
  <mz-modal-header>
    <div class="row">
      <div class="col s10">
        <h4 class="teal-text">Menu</h4>
      </div>
      <div class="col s2">
        <button mz-button [float]="true" class="teal right" mz-modal-close>
          <i mz-icon [icon]="'close'" [size]="'tiny'" [align]="'center'"></i>
        </button>
      </div>
    </div>
    <div class="separator"></div>
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="col s12 m4 l2">
        <mz-card [hoverable]="true" class="item-menu" (click)="abrirTela('/dashboard'); menu.close();">
          <mz-card-content>
            <div class="row center teal-text">
              <p>Dashboard</p>
              <br>
              <div class="col s12 center">
                <i mz-icon class="teal-text" [icon]="'dashboard'" [size]="'large'"></i>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4 l2">
        <mz-card [hoverable]="true" class="item-menu" (click)="abrirTela('/customers'); menu.close();" >
          <mz-card-content>
            <div class="row center teal-text" >
              <p>Clientes</p>
              <br>
              <div class="col s12 center">
                <i mz-icon class="teal-text" [icon]="'folder_shared'" [size]="'large'"></i>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4 l2">
        <mz-card [hoverable]="true" class="item-menu" (click)="abrirTela('/categories'); menu.close();" >
          <mz-card-content>
            <div class="row center teal-text" >
              <p>Categorias</p>
              <br>
              <div class="col s12 center">
                <i mz-icon class="teal-text" [icon]="'assignment'" [size]="'large'"></i>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4 l2">
        <mz-card [hoverable]="true" class="item-menu" (click)="abrirTela('/projects'); menu.close();">
          <mz-card-content>
            <div class="row center teal-text" >
              <p>Projetos</p>
              <br>
              <div class="col s12 center">
                <i mz-icon class="teal-text" [icon]="'import_contacts'" [size]="'large'"></i>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
    </div>
  </mz-modal-content>
</mz-modal>


<!-- Editar Perfil -->
<form #editProfileForm="ngForm" (ngSubmit)="onSubmit(Name.value, Email.value, Password.value, ConfirmPassword.value); editProfileForm.reset()">
  <mz-modal #editProfileModal [fixedFooter]='true' [bottomSheet]='false' [fullscreen]='true'>
    <mz-modal-header>
      <h4 class="teal-text">Editar Perfil</h4>
      <p>Altere os campos e depois clique em salvar.</p>
    </mz-modal-header>
    <mz-modal-content>
      <div class="row col s12 m12 l12">
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">account_circle</i>
          <input id="editNomeCompleto" type="text" class="validate" name="EditName" required #Name [(ngModel)]="formName">
          <label for="editNomeCompleto">Nome Completo</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">mail_outline</i>
          <input id="editProfileEmail" type="text" class="validate" name="EditProfileEmail" required #Email [(ngModel)]="formEmail">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">lock</i>
          <input id="editSenha" type="password" class="validate" name="EditPassword" required #Password [(ngModel)]="formPassword">
          <label for="senha">Senha</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">lock</i>
          <input id="editConfirmarSenha" type="password" class="validate" name="EditConfirmPassword" required #ConfirmPassword [(ngModel)]="formPasswordConfirm">
          <label for="confirmarSenha">Confirmar Senha</label>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button class="btn teal waves-effect waves-light" type="submit" name="action" mz-modal-close>Alterar
        <i class="material-icons right">done</i>
      </button>
      <button class="btn red waves-effect waves-light" type="button" mz-modal-close>Cancelar
        <i class="material-icons right">cancel</i>
      </button>
    </mz-modal-footer>
  </mz-modal>
</form>
