<div id="background"></div>
<div class="centered">
  <div class="row">
    <div class="col col s8 m6 l4 offset-s2 offset-m3 offset-l4">
      <div class="card teal">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width tabs-transparent">
            <li class="tab">
              <a routerLink="/signin" routerLinkActive="active">Entrar</a>
            </li>
            <li class="tab">
              <a routerLink="/signup" routerLinkActive="active">Cadastrar</a>
            </li>
          </ul>
        </div>
        <div class="card-content white">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
