body {
  background-color: #eaeaea8c !important;
}

.item-menu:hover {
  cursor: pointer;
  background-color: #00808003;
}

div .separator {
  box-shadow: 1px 0px 1px 1px #f3f3f3;
}

.indicator-item.active {
  background-color: teal !important;
}

.toast-success {
  background-color: #28a745 !important;
  color: white !important;
}

.toast-info {
  background-color: #17a2b8 !important;
  color: white !important;
}

.toast-warning {
  background-color: #ffc107 !important;
  color: white !important;
}

.toast-danger {
  background-color: #dc3545 !important;
  color: white !important;
}

.excluir {
  cursor: pointer;
  color: teal !important;
}

.editar {
  cursor: pointer;
  color: teal !important;
}

.detalhe {
  cursor: pointer;
  color: teal !important;
}

.espaco-esquerdo{
  padding-left: 1rem;
}

.espaco-direito{
  padding-right: 15px;
}

.options-buttons a i {
  color: teal !important;
}

.options-buttons a i:hover {
  color: white !important;
}

.card .card-content .card-title button i {
  line-height: 40px !important;
}

.card .card-content .card-title a i {
  line-height: 40px !important;
}
