.espaco-esquerdo{
  padding-left: 1rem;
}

.espaco-direito{
  padding-right: 15px;
  float: right;
}

#imagem-titulo{
  background-image: url("../images/home.jpg");
  height: 10rem;
  width: 100%;
}

.editar {
  cursor:pointer;
}

.numeros{
  position: relative;
  left: 27%;
  top: 31%;
}
span a{
  color: white;
}

.pointer-hover:hover {
  cursor: pointer;
}
