<div class="row">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <mz-card>
          <mz-card-content>
            <span class="card-title teal-text">
              Resumo do Mês Atual
            </span>
            <div class="row">
              <div class="col s12 m4 l4">
                <div class="card green pointer-hover">
                  <div class="card-content white-text">
                    <span class="card-title">
                      Receitas
                    </span>
                    <span class="numero">
                      <b>{{ this.dashboard?.TotalRevenue | currency:'BRL' }}</b>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="card red pointer-hover">
                  <div class="card-content white-text">
                    <span class="card-title">
                      Despesas
                    </span>
                    <span class="numero">
                      <b>{{ this.dashboard?.TotalExpense | currency:'BRL' }}</b>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="card blue">
                  <div class="card-content white-text">
                    <span class="card-title">
                      Saldo
                    </span>
                    <span class="numero">
                      <b>{{ this.dashboard?.Balance | currency:'BRL' }}</b>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <mz-card>
          <mz-card-content>
            <span class="card-title teal-text">
              Despesas com vencimento nos próximos 7 dias
            </span>
            <div class="row">
              <table class="striped" style="padding: 0" *ngIf="dashboard?.ExpensesCloseToExpiration?.length > 0">
                <thead>
                  <tr>
                    <th class="espaco-esquerdo teal-text">Descrição</th>
                    <th class="espaco-esquerdo teal-text">Valor</th>
                    <th class="espaco-esquerdo teal-text">Venc.</th>
                    <th class="espaco-direito teal-text right">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of dashboard?.ExpensesCloseToExpiration">
                    <td class="espaco-esquerdo editar">
                      <span class="truncate">{{ e.Description }}</span>
                    </td>
                    <td class="espaco-esquerdo editar">
                      <span>{{ e.Amount | currency:'BRL':true }}</span>
                    </td>
                    <td class="espaco-esquerdo editar">
                      <span>{{ e.ExpirationDate | date: 'dd/MM/yyyy' }}</span>
                    </td>
                    <td class="options-buttons right">
                      <a mz-button mz-tooltip [tooltip]="'Detalhe do Projeto (Receitas/Despesas)'" [position]="'top'" [delay]="500" [html]="true"
                        [flat]="true" [float]="true" (click)="detailProject(e.ProjectId);">
                        <i mz-icon-mdi [icon]="'swap-vertical'" [size]="'24px'"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row" *ngIf="!(dashboard?.ExpensesCloseToExpiration?.length > 0)">
                <div class="col s12" style="margin-top: 15px;">
                  <b>Nenhuma despesa com vencimento próximo foi encontrada. :)</b>
                </div>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m12 l6">
        <mz-card>
          <mz-card-content>
            <span class="card-title teal-text">
              Total de Receitas por Categoria
            </span>
            <div class="row">
              <div style="display: block">
                <canvas baseChart *ngIf="this.dashboard?.TotalRevenuePerCategory?.Labels?.length > 0" [colors]="colors" [data]="this.dashboard?.TotalRevenuePerCategory?.Values"
                  [labels]="this.dashboard?.TotalRevenuePerCategory?.Labels" [chartType]="'doughnut'"></canvas>
              </div>
            </div>
            <div class="row" *ngIf="!(this.dashboard?.TotalRevenuePerCategory?.Labels?.length > 0)">
              <div class="col s12" style="margin-top: 15px;">
                <b>Nenhuma informação está disponível no momento.</b>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m12 l6">
        <mz-card>
          <mz-card-content>
            <span class="card-title teal-text">
              Total de Despesas por Categoria
            </span>
            <div class="row">
              <div style="display: block">
                <canvas baseChart *ngIf="this.dashboard?.TotalExpensePerCategory?.Labels?.length > 0" [colors]="colors" [data]="this.dashboard?.TotalExpensePerCategory?.Values"
                  [labels]="this.dashboard?.TotalExpensePerCategory?.Labels" [chartType]="'doughnut'"></canvas>
              </div>
            </div>
            <div class="row" *ngIf="!(this.dashboard?.TotalExpensePerCategory?.Labels?.length > 0)">
              <div class="col s12" style="margin-top: 15px;">
                <b>Nenhuma informação está disponível no momento.</b>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <mz-card>
          <mz-card-content>
            <span class="card-title teal-text">
              Total de Projetos por Categoria
            </span>
            <div class="row">
              <div style="display: block">
                <canvas baseChart *ngIf="this.dashboard?.TotalProjectPerCategory?.Labels?.length > 0" [colors]="colors" [data]="this.dashboard?.TotalProjectPerCategory?.Values"
                  [labels]="this.dashboard?.TotalProjectPerCategory?.Labels" [chartType]="'doughnut'"></canvas>
              </div>
            </div>
            <div class="row" *ngIf="!(this.dashboard?.TotalProjectPerCategory?.Labels?.length > 0)">
              <div class="col s12" style="margin-top: 15px;">
                <b>Nenhuma informação está disponível no momento.</b>
              </div>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
    </div>
  </div>
</div>
